.d {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}

.d > h2 {
  margin: 5rem;
  color: #1e1e1e;
}

.textyy {
  font-size: 20px;
  display: block;
  margin-bottom: 5rem;
  width: 500px;
  height: 200px;
  background-color: #dddddd;
  color: #666666;
  padding: 1em;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  transition: all 0.2s;
  margin-left: auto;
  margin-right: auto;
}

.ii {
  display: block;
  width: auto;
  height: auto;
  font-size: 20px;
  border-radius: 10px;
}

.hh {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 855px) {
  .textyy {
    font-size: 20px;
    width: 90%;
    height: 200px;
    background-color: #dddddd;
    color: #666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: "Heebo", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    transition: all 0.2s;
    margin-left: auto;
    margin-right: auto;
  }
}
